<!DOCTYPE html>
<html>
<head>
  <title>
    Real Madrid
  </title>
  <meta name="viewport" content="width= device-width, initial-scale= 1.0">
  <link rel="stylesheet" href="/assets/style.css"">
  <link rel="stylesheet" media="screen and (max-width:750px)" href="/assets/style2.css">
</head>
<body>
  <div class="container">
    <header class="none">
      <div class="nav clearfix">
        <div class="logo left">
          <img src="https://i.pinimg.com/236x/d7/43/07/d7430750f46165ac8b60d01e706ec7cd--real-madrid-soccer-soccer-logo.jpg" alt="Sorry! Image not available" />
        </div>
        <div class="profile right">
          <h1>
            Real Madrid
          </h1>
          <h3>
            Halla Madrid!
          </h3>
        </div>
        <div class="ucl right">
          <img src="/assets/Images/ucl.jpg" alt="Sorry! Image not available" />
        </div>
      </div>
      <hr />
    </header>
    <div class="none">
      <a href="./todo">
      <h2 class="button">
      Dream 11 Predictions
    </h2>
       </a>
    </div>
    <section class="clearfix">
      <div class="description">
        <img class="main" src="/assets/Images/madrid.jpg" alt='Sorry! Image not found'/>
      </div>
      <h2 class="center">
        Halla Madrid!
      </h2>
      </section>
    <article class="flex">
      <div class="article bordered">
        <div class="none">
          <img src="/assets/Images/stadium.jpg" alt="Sorry! Image not available" />
          <a href="https://en.wikipedia.org/wiki/Santiago_Bernab%C3%A9u_Stadium">
          <h3 class="button">
            Stadium
          </h3>
          </a>
        </div>
      </div>
      <div class="article bordered">
        <div class="none">
          <img src="/assets/Images/trophies.jpg" alt="Sorry! Image not available" />
          <a href="https://en.wikipedia.org/wiki/List_of_Real_Madrid_C.F._honours">
          <h3 class="button">
            Trophies
          </h3>
          </a>
        </div>
      </div>
      <div class="article bordered">
        <div class="none">
          <img src="/assets/Images/squad.jpg" alt="Sorry! Image not available" />
          <a href="https://en.wikipedia.org/wiki/Real_Madrid_C.F.">
          <h3 class="button">
          Team
        </h3>
           </a>
        </div>
      </div>
    </article>
    <hr />
    <footer class="clearfix">
      <div class="left">Contact: rishabh59058@gmail.com</div>
      <div class="right">
        <a href="./tnc">Terms and conditions</a>
    </div>
    </footer>
  </div>
</body>
</html>
